[Unit]
Description=WAYPN Bot Lite
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/waypn-bot-lite
ExecStart=/usr/bin/npm run start:bot
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target 